// Constants
@large:   ~"(min-width: 40rem)";

@blue:    #53a1b8;

// Settings
@backgroundColor:   white;
@textColor:         #333;
@headerColor:       @textColor; //rgb(83, 161, 184)
@accentColor:       @blue;