---
title: 404
noshow: true
---
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
		
		<script>
		function resize(el, factor) {
		  // Get element width
		  var width = el.offsetWidth;
		  // set default for factor
		  if (typeof factor == 'undefined') {
			factor = 5;
		  }
		  // Set fontsize to new size
		  el.style.fontSize = (width / factor | 0) + 'px';
		}
		function vResize(el, factor) {
		  // Get element width
		  var height = window.innerHeight;
		  // set default for factor
		  if (typeof factor == 'undefined') {
			factor = 5;
		  }
		  // Set fontsize to new size
		  el.style.fontSize = (height / factor | 0) + 'px';
		}

		window.addEventListener("load", function() {
		  function doResize() {
			  resize(document.querySelector('#notfound .horizontal'), 2);
			  vResize(document.querySelector('#notfound .vertical'), 3);
		  }
		  window.onresize = doResize;
		  doResize();
		});
		</script>
    </head>
    <body>
        {% include navmenu.html %}
        <div id="notfound">
            <h1 class="horizontal">404</h1>
            <h1 class="vertical"><div>4</div><div>0</div><div>4</div></h1>
        </div>
    </body>
</html>