---
layout: page
showHeader: true
title: Home
icon: star
---
<div class="posts container">
    {% for post in site.posts %}
        <article class="post">
            <header>
                {% if post.featureimg != null %}
                    <img src="{{site.url}}/img/{{post.featureimg}}" />
                {% endif %}
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1><span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            </header>

            <div class="body">
                {{ post.content | split:'<!--break-->' | first }}
                {% if post.content contains '<!--break-->' %}
                    <span class="ellipse">...</span></br>
                    <div class="read-more">
                        <a href="{{ post.url }}" class="button">read more</a>
                    </div>
                {% endif %}
            </div>
        </article>
    {% endfor %}
</div>