<footer id="footer">
    <div class="wrap">
        <div class="info">
            <span class="name">Alex Wendland</span>
            <span class="job">High School Student</span>
            <span class="skills">Java, Android/Java, HTML5, LESS, JS, AngularJS/JS, Python, PHP</span>
        </div>
        <div class="contact">
            <nav>
                <a class="twitter-logo" href="https://twitter.com/AlexRWendland"></a>
                <a class="github-logo" href="https://github.com/awendland"></a>
                <a class="google-plus-logo" href="https://plus.google.com/u/0/+AlexWendlandR"></a>
            </nav>
        </div>
    </div>
</footer>

<!-- Include custom post JS -->
{% for js in page.custom.js %}
<script src="{{js}}" type="text/javascript"></script>{% endfor %}
<!-- Include custom post CSS -->
{% for css in page.custom.css %}
<link rel="stylesheet" href="{{css}}">{% endfor %}
