<footer id="footer">
    <div class="wrap">
        <div class="info">
            <span class="name">Alex Wendland</span>
            <span class="bio">Currently studenting at <a href="http://www.satirev.org/harvard">Harvard College</a><sup><a href="http://www.satirev.org/harvard/area-ves-student%E2%80%99s-final-project-literally-jar-mayonnaise">1,</a> <a href="http://www.satirev.org/harvard/i-am-tired-living-lie">2,</a> <a href="http://www.satirev.org/harvard/now-i-know-what-hell-feels-and-its-my-3-roommates-practicing-acoustic-guitar-same-time">3</a></sup></span>
        </div>
        <div class="contact">
            <a href="https://twitter.com/AlexRWendland">Twitter</a>
            <span class="divider"/></span>
            <a href="https://github.com/awendland">Github</a>
            <span class="divider"></span>
            <a href="https://plus.google.com/u/0/+AlexWendlandR">Google+</a>
        </div>
    </div>
</footer>

<!-- Include custom post JS -->
{% for js in page.custom.js %}
<script src="{{js}}" type="text/javascript"></script>{% endfor %}
<!-- Include custom post CSS -->
{% for css in page.custom.css %}
<link rel="stylesheet" href="{{css}}">{% endfor %}
