<div class="navbar">
    <nav class="flyout-wrap">
        <a class="flyout-btn" id="open-menu">|||</a>
        <ul class="flyout">
            {% for p in site.pages %}{% if p.noshow == null %}
            <li {% if p.url == page.url %}class="active"{% endif %}>
                <a href="{{ p.url }}">
                        <i class="icon icon-{{p.icon}}"></i>
                        <span>{{ p.title }}</span>
                </a>
            </li>
            {% endif %}{% endfor %}
            <li>
                <a href="http://alexwendland.com/lab">
                    <i class="icon icon-lab"></i>
                    <span>Lab</span>
                </a>
            </li>
            <li>
                <a href="http://alexwendland.com">
                    <i class="icon icon-eye"></i>
                    <span>Portfolio</span>
                </a>
            </li>
        </ul><!-- .flyout -->
    </nav><!-- .flyout-wrap -->
</div>