<div class="navbar">
    <div class="navmenu">
        <div class="toggle-cont">
            <a class="toggle-btn" id="open-menu"></a>
        </div>
        <nav class="flyout">
            {% for p in site.pages %}{% if p.noshow == null and p.title != null %}
            <li {% if p.url == page.url %}class="active"{% endif %}>
                <a href="{{ p.url }}">
                        <i class="icon icon-{{p.icon}}"></i>
                        <span>{{ p.title }}</span>
                </a>
            </li>
            {% endif %}{% endfor %}
            <li>
                <a href="http://alexwendland.com/lab">
                    <i class="icon icon-lab"></i>
                    <span>Lab</span>
                </a>
            </li>
            <li>
                <a href="https://codepen.io/awendland/#">
                    <i class="icon icon-eye"></i>
                    <span>Portfolio</span>
                </a>
            </li>
        </nav>
    </div>
</div>
