.math-art canvas {
  width: 80%;
  margin: 0 auto;
}
.math-art .actions {
  text-align: justify;
}
.math-art .color-functions .function {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  font-family: monospace;
  font-size: .8em;
}
.math-art .color-functions textarea {
  width: 100%;
  resize: vertical;
  outline: none;
  border: none;
  padding: 15px;
}
.math-art .color-functions textarea:last-child {
  margin-bottom: 0;
}
