.math-art .chromeless {
  outline: none;
  border: none;
  padding: 0 15px;
}
.math-art .output {
  padding: 0 10%;
  margin-bottom: 30px;
}
.math-art .output canvas {
  width: 100%;
}
.math-art .actions {
  text-align: justify;
}
.math-art .actions > span {
  display: inline-block;
}
.math-art .actions::after {
  width: 100%;
  display: inline-block;
  content: '';
}
.math-art .color-functions .function {
  margin-bottom: 20px;
  font-family: monospace;
  font-size: .8em;
}
.math-art .color-functions textarea {
  width: 100%;
  resize: vertical;
}
.math-art .color-functions textarea:last-child {
  margin-bottom: 0;
}
