@media (max-width: 767px) {
  .timelineLinkEntry {
    margin-bottom: calc(0.25 * var(--rhythm));
  }

  .timelineLinkEntry_time {
    margin-right: 1em;
    opacity: 0.6;
    font-size: 0.8em;
    line-height: calc(1 * var(--rhythm));
  }

  .timelineLinkEntry_title {
    display: block;
  }
}

@media (min-width: 768px) {
  .timelineLinkEntry {
    margin-bottom: calc(0.35 * var(--rhythm));
    display: flex;
    align-items: flex-end;
  }

  .timelineLinkEntry_time {
    display: inline-block;
    width: calc(3.8 * var(--rhythm));
    flex-shrink: 0;
    opacity: 0.6;
    font-size: 0.8em;
    line-height: calc(1 * var(--rhythm));
  }

  .timelineLinkEntry_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
