<div style="display: flex">
  {{ $profilePic := resources.Get "profile-pic.jpg" }}
  <img
    src="{{ $profilePic.RelPermalink }}"
    alt="{{ .Site.Params.author }}"
    style="
      margin-right: calc(0.5 * var(--rhythm));
      margin-bottom: 0;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    "
  />
  <div>
    Written by <strong>{{ .Site.Params.author }}</strong>.
    Here's a
    <a href="https://twitter.com/{{ .Site.Params.social.twitter }}"
      >Twitter handle</a
    >,
    <a href="https://github.com/{{ .Site.Params.social.github }}">GitHub</a>,
   and 
    <a href="https://linkedin.com/in/{{ .Site.Params.social.linkedin }}"
      >LinkedIn</a
    >.
  </div>
</div>
