{{ define "main" }}
<style>
  :root {
    --rhythm: 20px;
  }

  @media (max-width: 767px) {
    .timelineLinkEntry {
      margin-bottom: calc(0.25 * var(--rhythm));
    }

    .timelineLinkEntry_time {
      margin-right: 1em;
      opacity: 0.6;
      font-size: 0.8em;
      line-height: calc(1 * var(--rhythm));
    }

    .timelineLinkEntry_title {
      display: block;
    }
  }

  @media (min-width: 768px) {
    .timelineLinkEntry {
      margin-bottom: calc(0.35 * var(--rhythm));
      display: flex;
    }

    .timelineLinkEntry_time {
      display: inline-block;
      width: calc(4.2 * var(--rhythm));
      flex-shrink: 0;
      opacity: 0.6;
      font-size: 0.8em;
      line-height: calc(1 * var(--rhythm));
    }

    .timelineLinkEntry_title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
</style>
{{ if .Site.Params.dev.showPageData }}
<p>{{ partial "debug-data.html" .Site.RegularPages }}</p>
{{ end }}
<main>
  <p>{{ partial "bio.html" . }}</p>
  <p>
    {{ $notes := (where .Site.RegularPages "Type" "in" "notes") }} I maintain a
    collection of long-term notes on: {{ range $i, $n := $notes }}<a
      href="{{ .RelPermalink }}"
      ><span style="display: inline-block">{{ .Title }}</span></a
    >{{ if ne (add $i 1) (len $notes) }}, {{end}}{{ end }}.
  </p>
  {{ $t := slice "blurbs" }} {{ $t = $t | append .Site.Params.mainSections }} {{
  range (where .Site.RegularPages "Type" "in" $t) }} {{ if eq .Type "blurbs" }}
  <h3>{{ .Params.heading }}</h3>
  {{ if .Content }}
  <p>{{ .Content }}</p>
  {{ end }} {{ else }}
  <div class="timelineLinkEntry">
    <time
      class="timelineLinkEntry_time"
      datetime="{{ .Date.Format .Site.Params.dateFormat.iso }}"
      title="{{ .Date.Format .Site.Params.dateFormat.iso }}"
    >
      {{ .Date.Format .Site.Params.dateFormat.humanDateShort }}
    </time>
    <span
      style="
        width: 2em;
        flex-shrink: 0;
        display: inline-block;
        font-size: small;
      "
      >{{ .Params.emoji }}</span
    >
    <a class="timelineLinkEntry_title" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </div>
  {{ end }} {{ end }}
</main>
{{ end }}
