<div class="math-art">
    <div class="output">
        <canvas></canvas>
    </div>
    <div class="actions">
        <button class="rebuild">Render</button>
        <input class="width" type="number">
        <input class="height" type="number">
    </div>
    <div class="color-functions">
        <div class="function">
            function red(x, y) {
            <textarea class="red"></textarea>
            }
        </div>
        <div class="function">
            function green(x, y) {
            <textarea class="green"></textarea>
            }
        </div>
        <div class="function">
            function blue(x, y) {
            <textarea class="blue"></textarea>
            }
        </div>
    </div>
</div>
