<div class="math-art">
    <div class="output">
        <div class="card"><canvas width="300" height="300"></canvas></div>
    </div>
    <div class="actions">
        <span><button class="rebuild">Render</button></span>
        <span class="card">Width:<input class="chromeless width" type="number"></span>
        <span class="card">Height:<input class="chromeless height" type="number"></span>
    </div>
    <div class="color-functions">
        <div class="function card">
            function red(x, y) {
            <textarea class="chromeless red" rows="1">return x &amp; y;</textarea>
            }
        </div>
        <div class="function card">
            function green(x, y) {
            <textarea class="chromeless green" rows="1">return x;</textarea>
            }
        </div>
        <div class="function card">
            function blue(x, y) {
            <textarea class="chromeless blue" rows="1">return y;</textarea>
            }
        </div>
    </div>
</div>
