<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div id="st-container" class="st-container">

            <!-- content push wrapper -->
            <div class="st-pusher">
                <nav class="st-menu">
                    {% include navdrawer.html %}
                </nav>
                <div class="st-content"><!-- this is the wrapper for the content -->
                    <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
                        {% include floater.html %}
                        {% include header.html %}

                        {{ content }}

                        {% include footer.html %}
                        <!-- the content -->
                    </div><!-- /st-content-inner -->
                </div><!-- /st-content -->

            </div><!-- /st-pusher -->

        </div><!-- /st-container -->
    </body>
</html>
