/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

#header {
    position: relative;
    margin: 0 0 0 0;

    .avatar {
        margin: 0 auto;
        border-radius: 50%;
        line-height: 0;
        height: 13em;
        width: 13em;
        border: .422em solid rgb(249,249,249);
        img {
            border-radius: 50%;
            height: 100%;
        }
    }
}

#floater {
    // Layout
    position: fixed;
    z-index: 2;
    top: .5em;
    left: .5em;
    #open-menu {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 1.9em;
        width: 2.1em;
        user-select: none;
        border-radius: 4px;
        background: rgba(50, 50, 50, 0.55);
        transition: background .3s ease;
        &:hover {
            background: rgba(120, 120, 120, 0.75);
        }
    }
    #open-menu span, #open-menu span:before, #open-menu span:after {
        border-radius: 2px;
        height: .2em;
        background: white;
        position: absolute;
        display: block;
        content: '';
    }
    #open-menu span {
        left: 15%;
        right: 15%;
        top: 50%;
        margin-top: -.1em;
        .st-menu-open & {
            background-color: transparent;
        }
    }
    #open-menu span:before, #open-menu span:after {
        width: 100%;
        .st-menu-open & {
            top: 0;
        }
    }
    #open-menu span:before {
        top: -200%;
        .st-menu-open & {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    #open-menu span:after {
        bottom: -200%;
        .st-menu-open & {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}