/*****************************************************************************/
/*
/* Navigation Bar and Menu
/*
/*****************************************************************************/

.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out, background 0.4s ease-in-out;
  height: @navbarHeight;

  background: rgba(0, 0, 0, 1);
  width: 100%;

  &.hide {
    transform: translateY(-@navbarHeight);
  }

  &.top {
    background: rgba(0, 0, 0, 1);
  }
}

@navbuttonSize: 30px;
.navmenu {
    .toggle-cont {
      position: relative;
      z-index: 9999+1;
      padding: (@navbarHeight - @navbuttonSize) / 2;
      width: @navbarHeight;
      height: @navbarHeight;
      transition: background .4s;
      &:active {
        background: rgba(255, 255, 255, .5);
      }
      .toggle-btn {
        height: @navbuttonSize;
        width: @navbuttonSize;
        display: block;
        border-radius: 0.25em;
        box-shadow: inset 0 0 0 4px white;
        transition: box-shadow .5s;
        &:hover {
          box-shadow: inset 0 0 0 @navbuttonSize/2 white;
        }
      }
    }

    .flyout {
      padding-left: 0;
      opacity: 0;
      transform: scale(.5);
      transform-origin: top left;
      transition: opacity .5s, transform .4s;
      pointer-events: none;
      background: white;
      @media @notlarge {
        font-size: 1.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      }
      @media @large {
        width: 200px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        border-radius: 0 0 2px 0;
      }
      li {
        list-style: none;
        padding: 0 0 0 1em;
        a {
          display: block;
          color: black;
          padding: .25em 0;
          i {
            transition: transform .7s ease;
            transform-origin: 50% 50%;
          }
          span {
            margin-left: 10px;
          }
          &:hover, &:focus {
            text-decoration: none;
            i {
              transform: rotate(360deg);
            }
            span {
              text-decoration: underline;
            }
          }
        }
        &.active {
          a {
            span {
              background: black;
              color: white;
            }
          }
        }
      }
    }
  }

  .menu-open {
    .navmenu {
      .toggle-cont {
        background: white;
        .toggle-btn {
          box-shadow: inset 0 0 0 4px black;
          &:hover {
            box-shadow: inset 0 0 0 @navbuttonSize/2 black;
          }
        }
      }
      .flyout {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
      }
    }
  }