/*****************************************************************************/
/*
/* Navigation Menu
/*
/*****************************************************************************/

.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 50px;

  background: rgba(255, 255, 255, .95);
  width: 100%;

  &.hide {
    top: -50px;
  }

  .flyout-btn {
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    display: block;
  }
  .flyout {
    padding-left: 0;
    display: none;
    &.open {
      display: block;
    }
    li {
      list-style: none;
      a {
        i {

        }
        span {

        }
      }
    }
  }
}