.button {
    display: inline-block;
    position: relative;
    padding: 1em;
    color: @accentColor;
    border: 1px solid @accentColor;
    border-radius: 4px;

    transition: color .3s, background .3s;
    &:hover {
        background: @accentColor;
        color: white;
    }
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
}