.button {
    display: inline-block;
    position: relative;
    padding: 1em;
    color: @accentColor;
    border: 1px solid @accentColor;
    border-radius: 4px;
    
    transition: color .3s, background .3s;
    &:hover {
        background: @accentColor;
        color: white;
    }
}